<div class="ui container">
    <nav class="ui menu inverted teal huge">
        <a routerLink="home" class="item">Kazoku</a>
        <a routerLink="members" class="item" *ngIf="auth.authenticated()"><i class="user icon"></i>Members</a>
        
        <nav class="menu right">
            <a routerLink="contact" class="item">Contact Me</a>
            <a routerLink="profile" class="item">Profile</a>
            <a (click)="auth.login()" *ngIf="!auth.authenticated()" class="item">Login</a>
            <a (click)="auth.logout()" *ngIf="auth.authenticated()" class="item inverted red">Logout</a>
        </nav>
    </nav>
    
    <sm-message class="negative" *ngIf="error">
			<message-content>{{error}}</message-content>
	</sm-message>

    <router-outlet></router-outlet>
       
</div>