<div class="ui container">
    <nav class="ui menu inverted teal huge">
        <a routerLink="home" class="item">Kazoku</a>
        <a routerLink="members" class="item" *ngIf="auth.authenticated()">Members</a>
        <a routerLink="members" class="item" *ngIf="auth.authenticated()">Families</a>
        
        <nav class="menu right">
            <a routerLink="contact" class="item">Contact Me</a>
            <a routerLink="profile" class="item">Profile</a>
            <a (click)="auth.login()" *ngIf="!auth.authenticated()" class="item">Login</a>
            <a (click)="auth.logout()" *ngIf="auth.authenticated()" class="item inverted red">Logout</a>
        </nav>
    </nav>
    
    <sm-popup id='zzz' class="huge" #myPopup>
        <sm-card class="card basic">
            <card-title> Simple login </card-title>
            <card-subtitle>  </card-subtitle>
            <card-content>
                <p><b>Password</b>: angualr2express</p>
                <p><b>Username</b>: john</p>
            </card-content>
            
            <!--<sm-button class="bottom attached fluid primary" *ngIf="!isLogged" (click)="login()">Login</sm-button>
            <sm-button class="bottom attached fluid red" *ngIf="isLogged" (click)="logout()">Logout</sm-button>-->

            <sm-button class="bottom attached fluid primary" 
                (click)="auth.login()" *ngIf="!auth.authenticated()">Login2</sm-button>
            <sm-button class="bottom attached fluid red" 
                (click)="auth.logout()" *ngIf="auth.authenticated()">Logout2</sm-button>

        </sm-card>
    </sm-popup>

    <!--<hello [name]="appName"></hello>
    <div class="ui divider"></div>-->
    
    <router-outlet></router-outlet>
    
    <!--<div class="center"><img src='https://angular.io/resources/images/logos/standard/shield-large.png'></div>-->
    
</div>