<sm-segment>

    <h3>Calender View for {{month}}</h3>

    <div class="ui seven column grid">
        <!-- the calendar header-->
        <div class="column"><div class="ui segment">Sunday</div></div>
        <div class="column"><div class="ui segment">Monday</div></div>
        <div class="column"><div class="ui segment">Tuesday</div></div>
        <div class="column"><div class="ui segment">Wedsday</div></div>
        <div class="column"><div class="ui segment">Thursday</div></div>
        <div class="column"><div class="ui segment">Friday</div></div>
        <div class="column"><div class="ui segment">Satday</div></div>
        <!-- the actual days-->
        <div class="column" *ngFor='let d of days'>
            <div  class="ui segment">{{d.day}} {{d.name}}</div>
        </div>
    </div>
</sm-segment>