<h4 *ngIf="!profile">You are not logged in, please click 'Log in' button to login</h4>

<div *ngIf="profile">
 
    <div class="ui card">
        <div class="image"><img [src]="profile.picture"></div>
        <div class="content">
        <a class="header">{{profile.nickname}}</a>
        <div class="meta"><span class="date">User since {{profile.create_year}}</span></div>
                  <div class="meta">{{profile.email}}</div>
                  <div class="description">
                    Pat is a developer living in Rochester, NY.
                  </div>
                </div>
                <div class="extra content">
                  <a><i class="user icon"></i>22 Friends</a>
                </div>
    </div>

</div>