<h1 class="ui header">Family Members</h1>

<div class="ui container">
<sm-segment class="raised">

    <!-- the header -->
    <div class="ui grid">
        <div class="four wide column">
            <div>Filter by:</div>
            <div><input type='text' [(ngModel)]='listFilter' /></div>
        </div>
        <div class="nine wide column"></div>
        <div class="two wide column">
            <button *ngIf='!loading' class='ui secondary button' (click)='refresh()'>Reload</button>
            <button *ngIf='loading' class='ui loading button' >Reload</button>
        </div>
    </div>

    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div> 

    <table class="ui celled striped table" >
        <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Born</th>
                        <th>Place</th>
                        <th>5 Star Rating</th>
                    </tr>

        </thead>

        <tbody *ngIf="members && members.length">
                    <tr *ngFor='let member of members | memberFilter:listFilter :3' 
                    [class.warning]="member.selected"
                    (click)="onSelect(member)">
                        <td>
                            <img *ngIf='showImage' [src]='member.imageUrl'
                                 [title]='member.memberName | uppercase'
                                 [style.width.px]='imageWidth' 
                                 [style.margin.px]='imageMargin'>
                        </td>
                        <td > {{member.last_name}} </td>
                        <td>{{ member.first_name | titleCase }}</td>
                        <td>{{ member.birth_year > 0 ? member.birth_year : '' }}</td>
                        <td>{{ member.birth_place }}</td>
                        <td><kz-star [rating]='member.starRating'
                                (ratingClicked)='onRatingClicked($event)'></kz-star>
                        </td>
                    </tr>
        </tbody>
  </table>

</sm-segment>
</div>
